h1 {color: blue};

.topnav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topnav {
    background-color:  greenyellow;
}

.topnav {
    color: blue;
    text-align: center;
    
    font-size: 20px;
}

.topnav a.hover {
    background-color: rgb(15, 8, 15);
    color: white;
}

.topnav a.active {
    background-color: antiquewhite;
    color: black;
}

body {
    background-color: lightblue;
}
